!!!
%html{ html_attrs }
  %head
    %title= h yield(:title) || "TweeterMeter CurseRating"

    = stylesheet_link_tag 'http://yui.yahooapis.com/2.5.2/build/reset-fonts-grids/reset-fonts-grids.css'
    - bundle do 
      = stylesheet_link_tag 'main'
      = javascript_include_tag :common
    = yield(:head)

  %body
    = yield

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      var pageTracker = _gat._getTracker("UA-1933825-3");
      pageTracker._initData();
      pageTracker._trackPageview();
